<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Mensaje</title>
    </head>
    <body>
        Un mensaje enviado a <b>{{ address }}</b>
    </body>
</html>
